html {
  box-sizing: border-box;
}

.topbar {
  /* background-color:burlywood; */
  background-color: rgb(241, 166, 153);
  padding: 0.5rem;
  display:flex;
  justify-content: space-evenly;
}

body {
  background-image: url("https://images.summitmedia-digital.com/esquiremagph/images/2020/05/27/around-the-world-in-food-during-quarantine-main-image.jpg");
  opacity:0.9;
  
}

.topbar-container {
  position:fixed;
  width:100%;
  z-index: 10;
}

.page-container {
  margin-top: 10%;
}