.pic-div {
    display:flex;
    /* object-fit: cover; */
    /* align-items: center; */
    justify-content: center;
    margin: 0;
}

img {
    margin:0 auto;
    width: 60vw;
    align-self: center;
    border-radius: 0.5rem;
}

.info-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 1rem;
}