.nav-bar {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width:90vw;
    position:fixed;
    bottom:0;
    padding:1rem;
}

.pic-div {
    display:flex;
    width: 20vw;
    height: 20vh;
    /* object-fit: cover; */
    /* align-items: center; */
}
