html {
    box-sizing: border-box;
  }

h1 {
    text-align: center;
    margin:0;
    background-color: white;
    opacity:0.8;
    width:80vw;
    border-radius: 1rem;
    margin-top: 1rem;
}

.leaflet-container {
    display:flex;
    justify-content: center;
    background-color:white;
    border-radius: 2rem;
    padding: 0.1%;
    width: 90vw;
    height:50vh;
}

.map-search-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.instructions {
    text-align: center;
}

.buttons {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    width: 80vw;
}

.view-button {
    display:flex;
    width: 80vw;
    border-radius: 1rem;
    padding:0.5rem;
    align-self: center;
    justify-content: center;
    font-size: medium;
    font-weight:bold;
    text-decoration: none;
}

.random-button {
    margin-top: 0.5rem;
    width: 80vw;
    border-radius: 1rem;
    padding:0.5rem;
    font-size: medium;
    font-weight:bold;
}

.countryResult {
    background-color: white;
    height: fit-content;
    max-height: 6vh;
    width: 60vw;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 0.5rem;
    position:absolute;
    z-index: 10;
    opacity: 0.9;
    margin-left: 0.5rem;
    padding-left: 0.1rem;
}

.countryResult::-webkit-scrollbar {
    display: none; 
}

.search-box {
    border-radius: 1rem;
    width: 60vw;
    padding:0.5rem;
    box-shadow: 4px 4px 6px 0 rgba(216, 13, 13, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, .2), 
inset -4px -4px 6px 0 rgba(255,255,255,.2),
inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.select-country {
    width: 90vw;
    text-align: center;
}

h2 {
    background-color: white;
    opacity:0.8;
    width:80vw;
    border-radius: 1rem;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


